# binaries, temp files and temp build dir
build/
kernel-pack/*.driver
kernel-pack/*.dll
kernel-pack/*.exp
kernel-pack/*.lib
kernel-driver/lib/ltl2dpa/owl/
kernel-driver/lib/ltl2dpa/GraalVM/
kernel-driver/lib/ltl2dpa/gvm_name.txt
**/*.render*
**/*.log
interface/python/__pycache__/*.*


# any generated RAW files from the examples
**/*.raw
**/*.mdf
**/*.symmodel

# VS and VSCode
.vs/
.vscode/

# Others
.settings/
.DS_Store
**/.DS_Store
**/*.pyc
**/__pycache__