# binaries, temp files and temp build dir
build/
kernel-pack/*.driver
kernel-driver/lib/ltl2dpa/owl/
**/*.render*
**/*.log


# any generated RAW files from the examples
**/*.raw
**/*.mdf
**/*.symmodel

# VS and VSCode
.vs/
.vscode/

# Others
.settings/
.DS_Store
**/.DS_Store