# binaries, temp files and temp build dir
build/
kernel-pack/*.driver
kernel-pack/lib/ltl2dpa/owl/
**/*.render*
**/*.log

# any generated RAW files from the examples
**/*.raw

# VS and VSCode
.vs/
.vscode/

# Others
.settings/
.DS_Store
**/.DS_Store

